doctype html
html(ng-app="phonecatApp")
    head
        meta(charset="utf-8")
        script(src="/static/bower_components/angular/angular.js")
        script(src="/static/js/app.min.js")

    body(ng-controller="PhoneListController")
        ul
            li(ng-repeat="phone in phones")
                span {{phone.name}}
                p {{phone.snippet}}
