doctype html
html(ng-app="phonecatApp")
    head
        meta(charset="utf-8")
        script(src="/static/bower_components/angular/angular.js")
        script(src="/static/js/app.min.js")
        script(src="/static/js/components/phone-list.min.js")

    body
        <!-- Use a custom component to render a list of phones -->
        phone-list
