doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="/static/styles/base.css")
    body
        header
            nav
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") About
                    li
                        a(href="#") Search
        .contant
            | hello world text
        footer
            ul
                li
                    ul
                        li hello
                        li funny
                        li world
                li
                    ul
                        li second
                        li column
                li
                    ul
                        li third
                        li column
                        li with content