doctype html
html(ng-app="phonecatApp")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="app.css")
            
        script(src="/static/bower_components/angular/angular.min.js")
            
        script(src="/static/app.module.min.js")
        script(src="/static/phone-list/phone-list.module.min.js")
        script(src="/static/phone-list/phone-list.component.min.js")
    body
        <!-- Use a custom component to render a list of phones -->
        phone-list
