doctype html
html(ng-app="phonecatApp")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/static/app.css")
        link(rel="stylesheet" href="/static/app.animations.css")
        
        script(src="/static/bower_components/jquery/dist/jquery.min.js")    
        script(src="/static/bower_components/angular/angular.min.js")
        script(src="/static/bower_components/angular-route/angular-route.min.js")
        script(src="/static/bower_components/angular-resource/angular-resource.min.js")
        script(src="/static/bower_components/angular-animate/angular-animate.min.js")

        script(src="/static/app.module.min.js")
        script(src="/static/app.config.min.js")
        script(src="/static/app.animations.min.js")
        
        script(src="/static/shared/shared.module.min.js")
        script(src="/static/shared/phone/phone.module.min.js")
        script(src="/static/shared/phone/phone.service.min.js")
        script(src="/static/shared/checkmark/checkmark.filter.min.js")
        
        script(src="/static/phone-list/phone-list.module.min.js")
        script(src="/static/phone-list/phone-list.component.min.js")
            
        script(src="/static/phone-detail/phone-detail.module.min.js")
        script(src="/static/phone-detail/phone-detail.component.min.js")
    body
        .view-container
            .view-frame(ng-view)
